.foodGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
  padding: 10px;
  justify-items: center;
}

.emptyText {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #3575ff;
  font-weight: 500;
  margin-top: 40px;
}
